$primary: #1c6b2b;
$secondary: #2fb451;
$background: #1a1e24;
$text: #e8e6e3;

.director {
  background: $background;
  color: $text;
  padding: 3%;
  max-width: 500px;
  opacity: 0.97;
}

.director-header {
  justify-content: space-between;
  padding: 0px 16px 0;
}

.close-button {
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
}

.name {
  margin-bottom: 0;
}

.dob {
  margin: 0.5em 0 1.25em 0;
}
