$primary: #1c6b2b;
$secondary: #2fb451;
$background: #1a1e24;
$text: #e8e6e3;

.synopsis {
  background: $background;
  color: $text;
  padding: 3%;
  max-width: 500px;
  opacity: 0.97;
}

.synopsis-header {
  justify-content: space-between;
  padding: 0px 16px 0;
}

.close-button {
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
}

@media all and (max-width: 300px) {
  .title {
    font-size: 1em;
  }
  .year-rating,
  .actors {
    font-size: 0.75em;
  }

  .description {
    font-size: 0.75em;
  }

  .close-button {
    top: 0.25vh;
    right: 0.25vh;
  }
}

@media all and (min-width: 300px) and (max-width: 600px) {
  .title {
    font-size: 1.25em;
  }
  .year-rating,
  .actors {
    font-size: 1em;
  }
  .description {
    font-size: 1em;
  }
}
