$primary: #1c6b2b;
$secondary: #2fb451;
$background: #1a1e24;
$text: #e8e6e3;

.navbar {
  background: $background;
  color: $text;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  opacity: 0.95;
  filter: drop-shadow(0 5px 5px #000);

  a {
    text-decoration: none;
  }

  a:hover {
    color: $secondary;
  }
}
.home {
  font-size: 1.75em;
  font-family: "Rubik Dirt", cursive;
  font-weight: 400;
  align-items: center;
}

.icon {
  width: 45px;
  height: 45px;
}

.app-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media all and (max-width: 450px) {
  .home {
    font-size: 1em;
  }
  .icon {
    width: 30px;
    height: 30px;
  }

  .navlink-text {
    display: none;
  }
}

@media all and (min-width: 300px) and (max-width: 600px) {
  .home {
    font-size: 1em;
  }
  .icon {
    width: 30px;
    height: 30px;
  }

  .navlink-text {
    font-size: 0.75em;
  }
}
