$primary: #1c6b2b;
$secondary: #2fb451;
$background: #1a1e24;
$text: #e8e6e3;

.navbar {
  background: $background;
  color: $text;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  opacity: 0.95;
  filter: drop-shadow(0 5px 5px #000);

  a {
    text-decoration: none;
  }

  a:hover {
    color: $secondary;
  }
}
.home {
  font-size: 1.75em;
  font-family: "Rubik Dirt", cursive;
  font-weight: 400;
  align-items: center;
}

.app-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
