<div class="movie-list">
  <mat-card class="movie-card" *ngFor="let movie of movies; let i = index">
    <div class="movie-poster">
      <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    </div>
    <mat-card-header>
      <mat-card-title title="{{ movie.Title }}" class="title">{{
        movie.Title
      }}</mat-card-title>
      <mat-card-subtitle class="subtitle"
        >Directed by:
        <button
          mat-button
          color="primary"
          (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Birth,
              movie.Director.Death,
              movie.Director.Bio
            )
          "
        >
          {{ movie.Director.Name }}
        </button></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      {{ movie.ReleaseYear }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ movie.Rating }}
      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        {{ movie.Genre.Name }}
      </button>
      <button
        mat-button
        color="primary"
        (click)="
          openSynopsisDialog(
            movie.Title,
            movie.ReleaseYear,
            movie.Rating,
            movie.Description,
            movie.Actors
          )
        "
      >
        Synopsis
      </button>
      <button mat-icon-button (click)="toggleFavorite(movie._id, movie.Title)">
        <mat-icon>{{
          favorites.includes(movie._id) ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
